/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all 0.4s ease;
  scroll-behavior: smooth;
}


/* ===== Colours ===== */
:root {
  --body-color: #E4EFF7;
  --nav-color: #409CF4;
  --side-nav: #409cf4;
  --text-color: #fbfbfa;
  --search-bar: #F2F2F2;
  --search-text: #010718;
}

body {
  height: 100vh;
  background-color: var(--body-color);
}

.titleSection h2 {
  color: var(--search-text);
  border-bottom: 1px solid #ddd;
}

.titleSection h2 span {
  color: var(--nav-color);
}

@media screen and (max-width: 768px){
  .titleSection h2{
    font-size: 20px;
  }
}
