#footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 10px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

#footer > *{
  flex:  1 100%;
}

.footer-head {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer-logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 30px;
}

.footer-head h2 {
  margin-top: 1.3em;
  font-size: 20px;
  font-weight: 500;
}

#footer p a{
  font-style: normal;
  color: #999;
  text-decoration: none;
}

#footer p a:hover{
  color: var(--nav-color);
}

.nav-title {
  font-weight: 500;
  font-size: 20px;
}

#footer ul{
  list-style: none;
}

.nav-item-extra {
  column-count: 2;
  column-gap: 1.25em;
}
