/* ===== PRODUCT SECTION =====*/
.wrapper{
  display: flex;
  overflow-x: auto;
  
}

.slider-box{
  margin: 15px 10px;
  position: relative;
  height: 350px;
  min-width: 250px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: inline-flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
}

.slider-box a{
  text-align: center;
  text-decoration: none;
}

.img-box{
  height: 170px;
  margin-bottom: 10px;
}

.img-box img{
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.slider-box:hover{
  box-shadow: 2px 2px 12px rgba(0,0,0,0.47);
}

.slider-box:hover .img-box img{
  transform: scale(1.07);
  transition: all 0.3s ease;
}

.category{
  position: absolute;
  top: 10px;
  right: 20px;
  color: crimson;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
  font-family: 'Poppins', sans-serif;
}

.detail .price{
  font-weight: normal;
  font-family: 'Nunito', sans-serif;
}

.order{
  position: absolute;
  bottom: 0;
  height: 45px;
  background-color: var(--nav-color);
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 0 0 5px 5px;
}

.order a{
  color: var(--text-color);
  font-size: 16px;
  height: 100%;
  width: 100%;
  line-height: 45px;
}

.next-box{
  align-items: center;
  justify-content: center;
}

.next-box .next-btn a{
  width: 100px;
  height: 100px;
  border: 1px solid #eee;
  display: block;
  border-radius: 50%;
}

.slider-box:hover .next-btn a{
  transform: scale(1.1);
}

.next-box .next-btn a i{
  font-size: 50px;
  line-height: 100px;
  display: inline-block;
  color: var(--nav-color);
}

@media screen and (max-width:768px){
  .slider-box{
    min-width: 150px;
    height: 280px;
  }
  
  .img-box{
    height: 110px;
  }
  
  .detail{
    font-size: 14px;
  }
  
  .order{
    height: 35px;
  }
  
  .order a{
    line-height: 35px;
    font-size: 14px;
  }
  
  .category{
    font-size: 14px;
  }
  
  .next-box .next-btn a{
    width: 70px;
    height: 70px;
  }
  
  .next-box .next-btn a i{
    font-size: 30px;
    line-height: 70px;
  }
}

/* ===== BANTUAN SECTION =====*/
.Bantuan ul{
  margin-left: 15px;
}

.Bantuan ul li{
  margin-top: 10px;
}

.Bantuan ol li{
  margin-top: 0;
  margin-left: 20px;
}

.Bantuan{
  margin-top: 10px;
  font-weight: 400;
  opacity: 0.9;
  font-size: 16px;
}

.Bantuan h3{
  font-weight: 700;
}

.Bantuan .Feedback{
  margin-top: 10px;
} 

@media screen and (max-width: 768px){
  .Bantuan{
    font-size: 14px;
  }
  
  .Bantuan ol li{
    margin-left: 15px;
  }
}
