nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

nav .nav-bar .hamburger {
  cursor: pointer;
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
}

.hamburger .bar{
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  border-radius: 3px;
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  transition: all .6s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
}

.hamburger span:first-child{
  transform: translateY(-10px);
  animation-name: rotate-base-1;
}

.hamburger.active span:first-child{
  animation-name: rotate-1;
}

.hamburger span:last-child{
  transform: translateY(10px);
  animation-name: rotate-base-2;
}

.hamburger.active span:last-child{
  animation-name: rotate-2;
}

.hamburger.active span:nth-child(2){
  opacity: 0;
  transform: scale(0);
}

@keyframes rotate-1{
  0%{
    transform: translateY(-10px);
  }
  
  50%{
    transform: translateY(0);
  }
  
  100%{
    transform: rotate(-45deg);
  }
}

@keyframes rotate-base-1{
  0%{
    transform: translateY(0) rotate(-45deg);
  }
  
  50%{
    transform: rotate(0deg);
  }
  
  100%{
    transform: translateY(-10px);
  }
}

@keyframes rotate-2{
  0%{
    transform: translateY(10px);
  }
  
  50%{
    transform: translateY(0);
  }
  
  100%{
    transform: rotate(45deg);
  }
}

@keyframes rotate-base-2{
  0%{
    transform: translateY(0) rotate(45deg);
  }
  
  50%{
    transform: rotate(0deg);
  }
  
  100%{
    transform: translateY(10px);
  }
}

nav .nav-bar .logo a {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  pointer-events: none;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

.nav-links li a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
}

.nav-bar .cartToggle-searchBox {
  display: flex;
  align-items: center;
}

.cartToggle-searchBox .cartToggle,
.cartToggle-searchBox .searchToggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.cartToggle i,
.searchToggle i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search {
  opacity: 0;
  pointer-events: none;
}

.searchBox {
  position: relative;
}

.searchBox .search-field {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field {
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.search-field::before {
  content: '';
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;
}

.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
}


.search-field i {
  position: absolute;
  color: var(--nav-color);
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

#searchBox{
  display: none;
}

@media (max-width: 790px) {
  nav .nav-bar {
    padding: 0 20px;
  }
  
  .nav-links li a::before{
    display: none;
  }
  
  .search-field input{
    z-index: 99;
  }
  
  nav .nav-bar .hamburger {
    display: block;
  }
  
  nav .nav-bar .logo a {
    font-size: 20px;
  }
  
  .menu {
    position: fixed;
    height: auto;
    width: 100%;
    left: -100%;
    top: 50px;
    padding: 20px;
    background-color: var(--side-nav);
    z-index: 90;
    transition: all 0.4s ease;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }

  nav.active .menu {
    left: -0%;
  }

  .nav-bar .nav-links {
    display: block;
    border-top: 2px solid #eee;
  }

  .nav-links li a {
    display: block;
    border-bottom: 1px solid #eee;
  }
  
  #searchBox{
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  #searchBox .searchBlock{
    position: absolute;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .nav-links .searchBlock input{
    height: 40px;
    width: 100%;
    margin-top: 5px;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
  }
  
  .nav-links .searchBlock i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    padding: 5px;
  }
  
  .searchBox{
    display: none;
  }
}
